@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
* {
    font-family: "tajawal";
}
select, input {
    background: #fff;
    border-radius: 5px;
    padding: 9px;
    font-size: 16px;
}
input#area {
    width: 20vw;
}
div#output {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
p {
    color: #d1d1d1;
}
p a {
    color: #7d25d0;
}
div#logo img {
    width: 25vw;
}